<script lang="ts" setup>
import { ref } from "vue";
import angry from "../../feeling_imgs/angry.png";
import cute from "../../feeling_imgs/cute.png";
import excited from "../../feeling_imgs/excited.png";
import pain from "../../feeling_imgs/pain.png";
import shocked from "../../feeling_imgs/shocked.png";
import smile from "../../feeling_imgs/smile.png";
const emo = ref("Smile");
const emoClick = (name: string) => {
  emo.value = name;
};
</script>
<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col cols="6">
        <v-img :src="angry" v-if="emo === 'Angry'"></v-img>
        <v-img :src="cute" v-if="emo === 'Cute'"></v-img>
        <v-img :src="excited" v-if="emo === 'Excited'"></v-img>
        <v-img :src="pain" v-if="emo === 'Pain'"></v-img>
        <v-img :src="shocked" v-if="emo === 'Shocked'"></v-img>
        <v-img :src="smile" v-if="emo === 'Smile'"></v-img>
      </v-col>
      <v-col>
        <h1 class="text-center">{{ emo }}</h1>
        <v-btn
          block
          class="ma-5"
          @click="emoClick('Angry')"
          :color="emo == 'Angry' ? 'yellow' : ''"
          >angry</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="emoClick('Cute')"
          :color="emo == 'Cute' ? 'yellow' : ''"
          >cute</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="emoClick('Excited')"
          :color="emo == 'Excited' ? 'yellow' : ''"
          >excited</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="emoClick('Pain')"
          :color="emo == 'Pain' ? 'yellow' : ''"
          >pain</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="emoClick('Shocked')"
          :color="emo == 'Shocked' ? 'yellow' : ''"
          >shocked</v-btn
        >
        <v-btn
          block
          class="ma-5"
          @click="emoClick('Smile')"
          :color="emo == 'Smile' ? 'yellow' : ''"
          >smile</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
