<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
interface Product {
  id: number;
  name: string;
  price: number;
}
const orderList = ref<Product[]>([]);
const addOrder = (id: number) => {
  if (orderList.value.length > -1) {
    orderList.value.push({
      id: id,
      name: products.value[id].name,
      price: products.value[id].price,
    });
  }
  sum.value = sum.value + products.value[id].price;
};
const sum = ref(0);
</script>
<template>
  <v-row>
    <v-col cols="6">
      <v-card height="85vh" class="overflow-y-auto">
        <v-row>
          <v-col v-for="(item, index) of products" :key="index" cols="4">
            <v-card class="text-center ma-5" width="200px">
              <v-card-title>
                {{ item.name }}
              </v-card-title>
              <v-card-subtitle>
                {{ item.price }}
              </v-card-subtitle>

              <v-card-actions class="justify-center">
                <v-btn variant="outlined" @click="addOrder(item.id)">add</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <v-col cols="6">
      <v-table class="text-left" height="60vh">
        <thead>
          <th>id</th>
          <th>name</th>
          <th>price</th>
        </thead>
        <tbody v-if="orderList.length === 0">
          <td class="text-center text-h6" colspan="2">No data</td>
        </tbody>
        <tbody v-if="orderList.length > 0">
          <tr v-for="(item, index) of orderList" :key="index">
            <td>{{ item.id + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
      </v-table>
      <p class="text-h2 font-weight-bold">Sum : {{ sum }}</p>
    </v-col>
  </v-row>
</template>
