<script lang="ts" setup>
import { ref } from "vue";
const num = ref<number>(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-text-field
        v-model.number="num"
        label="Please input Number"
        :rules="[(v) => !!v || 'Number is not empty!!']"
      ></v-text-field>
    </v-row>
    <v-row>
      <v-col v-for="i in num" :key="i" cols="1">
        {{ i }}
      </v-col>
    </v-row>
  </v-container>
</template>
