<script setup lang="ts">
import FirstComponentVue from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponentVue></FirstComponentVue>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn @click="useCounter.increment">increase</v-btn>
      </v-col>
      <v-col>
        <v-btn @click="useCounter.decrement">decrease</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
