<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ useCounter.count }}</div>
</template>
